<<<<<<< HEAD
<<<<<<<< HEAD:src/components/TodoItem/TodoItem.module.css
=======
>>>>>>> 9c1656a (Refactor: todo 목록 렌더링하는 컴포넌트 분리)
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.todo_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_box {
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.7rem;
  accent-color: var(--color-orange);
}

.todo_done {
  color: var(--color-grey);
}

.light {
  color: var(--color-black);
}

.dark {
  color: var(--color-white);
}

.trash {
  color: var(--color-lightOrange);
<<<<<<< HEAD
========
.todo_list {
  padding: 1rem;
  height: 20rem;
  overflow-y: auto;
>>>>>>>> 9c1656a (Refactor: todo 목록 렌더링하는 컴포넌트 분리):todo/src/components/TodoList/TodoList.module.css
=======
>>>>>>> 9c1656a (Refactor: todo 목록 렌더링하는 컴포넌트 분리)
}
